@charset "UTF-8";

/* 絞り込み機能 */

        .selectCategory__btn {
            display: flex;
            justify-content: center;
            li {
                margin: 0 1rem;          

                button {
                    display: inline-block;
                    width: 140px;
                    padding: 10px;
                    text-align: center;
                    border: 2px solid #fff;
                    border-radius: 3px;
                    color:#fff;  
                }
                :hover{
                    color:map-get($colors, baseMain-color);
                    background: #fff;
                }
            }
        }