@charset "UTF-8";

/* color */

$colors:(
// 青系
baseMain-color: #0079c2,
baseSecondary-color: #3da1cc,

// 黄色系
accentMain-color: #fff100,
accentSecondary-color: #ffff6d,

// 赤系
alertMain-color: #ff0000,
alertCatch-color: #ff5454,

// 黒系
blackMain-color: #222222,
);