@charset "UTF-8";

/* 絞り込み機能 */

.contentsSec__inner {
    .m-listRefine {
        .refine__text {
            display: flex;
            justify-content: center;
            li {
                margin: 0 1rem;                

                button {
                    display: inline-block;
                    width: 140px;
                    padding: 5px 0;
                    text-align: center;
                    border: 2px solid #000;
                    border-radius: 3px;
                }
            }
        }
    }
}