@charset "UTF-8";

/* ナビゲーション */
.l-navi {
    
    .navi__text {
        background: #222;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: #fff;
            font-size: 1.4rem;
            margin-right: 20px;
            padding: 10px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px; 
        }

    }

}