@charset "UTF-8";

/* size */

$font-S :1.2rem;
$font-SM :1.4rem;
$font-M :1.6rem;
$font-L :2.0rem;
$font-LL :3.0rem;


/* famiry */

$font-gothic: Helvetica Neue, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Verdana, sans-serif;
